<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>Welcome to {{title}}</h1>
      <p>The best catalog of cute animal pics on the Internet.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button"> Learn more </a></p>
    </div>
  </div>
</div>

